<div class="row list-wrapper">
  <small>app/templates/bands.hbs</small>
  <ul class="list-group">
  {{#each model as |band|}}
    <li class="list-group-item">{{band.name}}
    </li>
  {{/each}}
  </ul>
</div>