<div class="row">
  <ul class="list-group songs">
    {{#each model.sortedContent as |song|}}
      <li class="list-group-item">
        {{song.title}} by <em>{{song.band}}</em>
        <span class="rating badge pull-right">{{song.rating}}</span>
      </li>
    {{/each}}
  </ul>
</div>
